<div class="container">
  <div class="row">
    <div class="cart-item-list panel panel-default">
      <div class="panel-heading">Shopping List</div>
        <table class="table table-hover">
          <tr>
            <thead>
              <td></td>
              <td>Price</td>
              <td>Quantity</td>
              <td>Subtotal</td>
              <td></td>
            </thead>
          </tr>
          <% @items.each do |item| %>
          <tbody>
            <tr class="cart-<%= item.product.id %>-item">
              <td>
                <%= image_tag item.product.image, height: '50px', display: 'inline-block' %>
                <%= item.product.name %>
              </td>
              <td><%= item.product.price %></td>
              <td><%= item.quantity %></td>
              <td>$ <%= item.product.price * item.quantity %></td>
              <td><%= link_to '', remove_item_product_path(item.product), method: :delete, remote: true, class: "glyphicon glyphicon-trash" %>
              </td>  
            </tr>
            <% end %>
            <tr>
              <td></td>
              <td>Subtotal</td>
              <td></td>
              <td class="amount">$ <%= @cart.cart_add_all %> </td>
              <td></td>
            </tr>
          </tbody>  
        </table>
    </div>
    <%= render partial: "shared/form_error", locals: {object: @order} %>
    <div class="cart-shipping-info-form panel panel-default">
      <div class="panel-heading">Shopping Infomation</div>

      <%= form_for @order do |f| %> 
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, placeholder: "Jack", class: "form-control" %>
      </div>
      
      <div class="form-group">
        <%= f.label :phone %>
        <%= f.text_field :phone, placeholder: "0934567812", class: "form-control" %>
      </div> 
      
      <div class="form-group">
        <%= f.label :address %>
        <%= f.text_field :address, placeholder: "北市信義區松信路185號", class: "form-control" %>       
      </div> 

      </div>  
        <%= f.submit "Checkout" ,class: "btn btn-primary order-submit" %>
      <% end %>
   
    </div>
  
</div>
