<div class="container">

  <div class="row">

    <div class="product-list col-md-10 clearfix">
     <% @products.each do |product| %> 

      <div class="item" style="float: left; width: 19%; height: 200px" >
         
        <div class="productPic">
          <%= image_tag product.image, height: '50px' if product.image? %>
        </div>

        <div class="productInfo" style="height: 100px">
          <%= product.name %>
          <br>
          <%= product.description.first(25) %>
          <br>
          NT$ <%= product.price %>            
        </div>

        <div class="addButton" style="height: 30px">
          <%= button_to 'Add to Cart', add_to_cart_product_path(product) %>
        </div>

      </div>
      <% end %>
    </div>  
    
    <%= render "shared/cart" %>

    <div>
      <%= paginate @products %>
    </div>  
  </div>
  
</div>